.highlight {
    opacity : 0.2;
}

#up {
    height: 200px;
    width: 200px;
    background-color: wheat;
    border: black 1px solid;
}

#down {
    height: 200px;
    width: 200px;
    background-color: wheat;
    border: black 1px solid;
}

#left {
    height: 200px;
    width: 200px;
    background-color: wheat;
    border: black 1px solid;
}

#right {
    height: 200px;
    width: 200px;
    background-color: wheat;
    border: black 1px solid;
}